@charset "UTF-8";

/* em html é id= em css é # (só pode um elemento)
em html é class= em css é . (pode vários elementos) */

body {
background-color: rgb(102, 179, 255);
font-family: Arial, Helvetica, sans-serif;
}

#principal {
    text-align: center;
    background-color: darkslateblue;
    color: aliceblue;
}

h1{
    color: rgb(4, 4, 77);
}

.básico{
    color: green;
}

.intermediário{
    color: orange;
}

.avançado{
    color: red;
}

p{
    text-align: justify;
    text-indent: 30px;
}

.destaque{
    background-color: rgb(51, 133, 255);
}